examples/tree-view-example.json
[{"id":"478df9849afa576d","type":"ui-treeview","z":"a55ba250ca313e66","name":"","group":"b417b0458d150f20","order":0,"itemValue":"id","indentLines":"default","strategy":"leaf","openAll":"true","selectable":"true","searchEnabled":"true","width":0,"height":0,"x":730,"y":860,"wires":[[]]},{"id":"d4349c6c1572ee2f","type":"inject","z":"a55ba250ca313e66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":860,"wires":[["f11657bd60cb99ab"]]},{"id":"f11657bd60cb99ab","type":"function","z":"a55ba250ca313e66","name":"openAll true","func":"msg.payload = {\n  \"items\": [\n    {\n      \"id\": 1,\n      \"title\": \"Root\",\n      \"children\": [\n        {\n          \"id\": 2,\n          \"title\": \"Child #1\"\n        },\n        {\n          \"id\": 3,\n          \"title\": \"Child #2\"\n        },\n        {\n          \"id\": 4,\n          \"title\": \"Child #3\",\n          \"children\": [\n            {\n              \"id\": 5,\n              \"title\": \"Grandchild #1\"\n            },\n            {\n              \"id\": 6,\n              \"title\": \"Grandchild #2\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"selected\": [2]\n}\n\nmsg.ui_update  = {\n    \"openAll\" : true\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":860,"wires":[["478df9849afa576d"]]},{"id":"4144b633feaa7fc7","type":"function","z":"a55ba250ca313e66","name":"openAll false","func":"msg.payload = {\n  \"items\": [\n    {\n      \"id\": 1,\n      \"title\": \"Root\",\n      \"children\": [\n        {\n          \"id\": 2,\n          \"title\": \"Child #1\"\n        },\n        {\n          \"id\": 3,\n          \"title\": \"Child #2\"\n        },\n        {\n          \"id\": 4,\n          \"title\": \"Child #3\",\n          \"children\": [\n            {\n              \"id\": 5,\n              \"title\": \"Grandchild #1\"\n            },\n            {\n              \"id\": 6,\n              \"title\": \"Grandchild #2\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"selected\": [2]\n}\n\nmsg.ui_update  = {\n    \"openAll\" : false\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":920,"wires":[["478df9849afa576d"]]},{"id":"479101cf5302c83b","type":"inject","z":"a55ba250ca313e66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":920,"wires":[["4144b633feaa7fc7"]]},{"id":"b417b0458d150f20","type":"ui-group","name":"Group 1","page":"a9b81122e44fd439","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":true,"disabled":false,"groupType":"default"},{"id":"a9b81122e44fd439","type":"ui-page","name":"Page 1","ui":"66fef6475e4aee0d","path":"/page1","icon":"home","layout":"grid","theme":"a17ee9a377daf2d1","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Small Desktop","px":768,"cols":9},{"name":"Desktop","px":1024,"cols":12}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"66fef6475e4aee0d","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"a17ee9a377daf2d1","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"f7752f4afb9746b5","type":"global-config","env":[],"modules":{"@vitormnm/node-red-dashboard-2-ui-treeview":"1.0.0","@flowfuse/node-red-dashboard":"1.29.0"}}]