examples/tree-view-example.json
[{"id":"c621a1b954b50e08","type":"inject","z":"cda76d4971e6d830","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":360,"wires":[["4bc8b3a093043ab9"]]},{"id":"4bc8b3a093043ab9","type":"function","z":"cda76d4971e6d830","name":"payload","func":"msg.payload = {\n  \"items\": [\n    {\n      \"id\": 1,\n      \"title\": \"Root\",\n      \"children\": [\n        {\n          \"id\": 2,\n          \"title\": \"Child #1\"\n        },\n        {\n          \"id\": 3,\n          \"title\": \"Child #2\"\n        },\n        {\n          \"id\": 4,\n          \"title\": \"Child #3\",\n          \"children\": [\n            {\n              \"id\": 5,\n              \"title\": \"Grandchild #1\"\n            },\n            {\n              \"id\": 6,\n              \"title\": \"Grandchild #2\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"selected\": [2]\n}\n\nmsg.ui_update = {\n  \"openAll\": true,\n  \"strategy\": \"leaf\",\n  \"selectable\": true,\n  \"indentLines\": \"default\"\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":360,"wires":[["c4f3f9b6acf78e72"]]},{"id":"d6ad1d6f3729227c","type":"function","z":"cda76d4971e6d830","name":"openAll, search false ","func":"msg.payload = {\n  \"items\": [\n    {\n      \"id\": 1,\n      \"title\": \"Root\",\n      \"children\": [\n        {\n          \"id\": 2,\n          \"title\": \"Child #1\"\n        },\n        {\n          \"id\": 3,\n          \"title\": \"Child #2\"\n        },\n        {\n          \"id\": 4,\n          \"title\": \"Child #3\",\n          \"children\": [\n            {\n              \"id\": 5,\n              \"title\": \"Grandchild #1\"\n            },\n            {\n              \"id\": 6,\n              \"title\": \"Grandchild #2\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"selected\": [2]\n}\n\nmsg.ui_update  = {\n    \"openAll\" : false,\n    \"searchEnabled\" : false\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":480,"wires":[["c4f3f9b6acf78e72"]]},{"id":"d50c3316161229cb","type":"inject","z":"cda76d4971e6d830","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":480,"wires":[["d6ad1d6f3729227c"]]},{"id":"7a454b573a43d0fe","type":"inject","z":"cda76d4971e6d830","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":420,"wires":[["d43f8cc7f75cbd76"]]},{"id":"d43f8cc7f75cbd76","type":"function","z":"cda76d4971e6d830","name":"selected only","func":"msg.payload = {\n\n  \"selected\": [6,5]\n}\n\nmsg.ui_update  = {\n    \"openAll\" : true\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":420,"wires":[["c4f3f9b6acf78e72"]]},{"id":"830dfd6614de5b30","type":"debug","z":"cda76d4971e6d830","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":480,"wires":[]},{"id":"554de85bfdb22287","type":"function","z":"cda76d4971e6d830","name":"indentLines simple","func":"\n\nmsg.ui_update  = {\n    \"indentLines\" : \"simple\"\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":540,"wires":[["c4f3f9b6acf78e72"]]},{"id":"5c5ad2e9ba4a59a1","type":"inject","z":"cda76d4971e6d830","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":540,"wires":[["554de85bfdb22287"]]},{"id":"168b35738ae6a2bf","type":"function","z":"cda76d4971e6d830","name":"indentLines default","func":"\n\nmsg.ui_update  = {\n    \"indentLines\" : \"default\"\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":600,"wires":[["c4f3f9b6acf78e72"]]},{"id":"5e22f0dce793a4f4","type":"inject","z":"cda76d4971e6d830","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":600,"wires":[["168b35738ae6a2bf"]]},{"id":"20c5a5e13eb76ae8","type":"function","z":"cda76d4971e6d830","name":"simple list","func":"msg.payload = {\n    items: [\n\n        {\n            \"id\": 1,\n            \"title\": \"item 1\"\n        },\n        {\n            \"id\": 2,\n            \"title\": \"item 2\"\n        },\n        {\n            \"id\": 3,\n            \"title\": \"item 3\"\n        },\n        {\n            \"id\": 4,\n            \"title\": \"item 4\"\n        },\n        {\n            \"id\": 5,\n            \"title\": \"item 5\"\n        },\n\n    ],\n    selected : []\n\n}\n\n\n\nmsg.ui_update = {\n    \"openAll\": true,\n    \"selectable\" : false,\n    \"strategy\" : \"single-independent\"\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":660,"wires":[["c4f3f9b6acf78e72"]]},{"id":"d193da68adc631cb","type":"inject","z":"cda76d4971e6d830","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":660,"wires":[["20c5a5e13eb76ae8"]]},{"id":"c4f3f9b6acf78e72","type":"ui-treeview","z":"cda76d4971e6d830","name":"","group":"2331ec22a33c0e7f","order":1,"itemValue":"id","indentLines":"default","strategy":"leaf","openAll":"true","selectable":"true","searchEnabled":"true","width":0,"height":0,"x":790,"y":480,"wires":[["830dfd6614de5b30"]]},{"id":"c45138f8d3af7302","type":"inject","z":"cda76d4971e6d830","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":300,"wires":[["deee780b98eaa2ed"]]},{"id":"deee780b98eaa2ed","type":"function","z":"cda76d4971e6d830","name":"full example","func":"msg.payload = {\n  \"items\": [\n    {\n      \"id\": 1, \"title\": \"Industrial Plant\",\n      \"icon\": \"mdi-factory\", \"iconColor\": \"blue-darken-2\",\n      \"subtitle\": \"Main production line\",\n      \"badge\": \"3\", \"badgeColor\": \"primary\",   // shows child count\n      \"children\": [\n        {\n          \"id\": 2, \"title\": \"Sector A — Running\",\n          \"icon\": \"mdi-engine\", \"iconColor\": \"green\", \"iconSize\": \"small\",\n          \"statusIcon\": \"mdi-check-circle\", \"statusColor\": \"success\",\n          \"color\": \"#1D9E75\"             // green label text\n        },\n        {\n          \"id\": 3, \"title\": \"Sector B — Alarm\",\n          \"icon\": \"mdi-alert\", \"iconColor\": \"orange\",\n          \"badge\": \"!\", \"badgeColor\": \"warning\",\n          \"statusIcon\": \"mdi-alert-circle\", \"statusColor\": \"warning\",\n          \"labelClass\": \"font-weight-bold\"  // bold label via CSS class\n        },\n        {\n          \"id\": 4, \"title\": \"Sector C — Maintenance\",\n          \"icon\": \"mdi-tools\", \"iconColor\": \"grey\",\n          \"disabled\": true,              // node is visible but cannot be selected\n          \"color\": \"grey\",\n          \"children\": [\n            {\n              \"id\": 5, \"title\": \"Motor #1\",\n              \"icon\": \"mdi-cog\", \"iconSize\": \"x-small\",\n              \"subtitle\": \"3500 RPM\",        // live value shown as subtitle\n              \"badge\": \"OK\", \"badgeColor\": \"success\"\n            },\n            {\n              \"id\": 6, \"title\": \"Motor #2\",\n              \"icon\": \"mdi-cog-off\",\n              \"subtitle\": \"Stopped\",\n              \"statusIcon\": \"mdi-close-circle\", \"statusColor\": \"error\",\n              \"disabled\" : true\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"selected\": [2]                // pre-selected item IDs (matched by itemValue field)\n}\n\nmsg.ui_update = {\n  \"openAll\": true,              // expand the entire tree on load\n  \"selectable\": true,            // show selection checkboxes\n  \"strategy\": \"leaf\",            // \"leaf\" | \"independent\" | \"classic\"\n  \"indentLines\": \"default\",      // \"default\" | false — shows indentation guide lines\n  \"searchEnabled\": true,         // display search field at the top\n  \"itemValue\": \"id\"              // item field used as the unique selection key\n}\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":300,"wires":[["c4f3f9b6acf78e72"]]},{"id":"2331ec22a33c0e7f","type":"ui-group","name":"Group 1","page":"7eabc333f31a4277","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":true,"disabled":false,"groupType":"default"},{"id":"7eabc333f31a4277","type":"ui-page","name":"Page 1","ui":"98ef9681c14cfe6f","path":"/page1","icon":"home","layout":"grid","theme":"208801193f6405fd","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Small Desktop","px":768,"cols":9},{"name":"Desktop","px":1024,"cols":12}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"98ef9681c14cfe6f","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"208801193f6405fd","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"bae7e26be32bf282","type":"global-config","env":[],"modules":{"@vitormnm/node-red-dashboard-2-ui-treeview":"1.0.8","@flowfuse/node-red-dashboard":"1.30.2"}}]