examples/tree-view-example.json
[{"id":"0f3c78bd531f6d78","type":"tab","label":"treeview","disabled":false,"info":"","env":[]},{"id":"462194eaca795316","type":"inject","z":"0f3c78bd531f6d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["493f82a9859e83c0"]]},{"id":"493f82a9859e83c0","type":"function","z":"0f3c78bd531f6d78","name":"payload","func":"msg.payload = {\n  \"items\": [\n    {\n      \"id\": 1,\n      \"title\": \"Root\",\n      \"children\": [\n        {\n          \"id\": 2,\n          \"title\": \"Child #1\"\n        },\n        {\n          \"id\": 3,\n          \"title\": \"Child #2\"\n        },\n        {\n          \"id\": 4,\n          \"title\": \"Child #3\",\n          \"children\": [\n            {\n              \"id\": 5,\n              \"title\": \"Grandchild #1\"\n            },\n            {\n              \"id\": 6,\n              \"title\": \"Grandchild #2\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"selected\": [2]\n}\n\nmsg.ui_update = {\n  \"openAll\": true,\n  \"strategy\": \"leaf\",\n  \"selectable\": true,\n  \"indentLines\": \"default\"\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":60,"wires":[["58c7abbd239470ba"]]},{"id":"c52ea70a25d314ab","type":"function","z":"0f3c78bd531f6d78","name":"openAll, search false ","func":"msg.payload = {\n  \"items\": [\n    {\n      \"id\": 1,\n      \"title\": \"Root\",\n      \"children\": [\n        {\n          \"id\": 2,\n          \"title\": \"Child #1\"\n        },\n        {\n          \"id\": 3,\n          \"title\": \"Child #2\"\n        },\n        {\n          \"id\": 4,\n          \"title\": \"Child #3\",\n          \"children\": [\n            {\n              \"id\": 5,\n              \"title\": \"Grandchild #1\"\n            },\n            {\n              \"id\": 6,\n              \"title\": \"Grandchild #2\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"selected\": [2]\n}\n\nmsg.ui_update  = {\n    \"openAll\" : false,\n    \"searchEnabled\" : false\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["58c7abbd239470ba"]]},{"id":"f38ad06c863bb270","type":"inject","z":"0f3c78bd531f6d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["c52ea70a25d314ab"]]},{"id":"58c7abbd239470ba","type":"ui-treeview","z":"0f3c78bd531f6d78","name":"","group":"","order":0,"itemValue":"id","indentLines":"default","strategy":"leaf","openAll":"true","selectable":"true","searchEnabled":"true","width":0,"height":0,"x":630,"y":180,"wires":[["bf08771930e54162"]]},{"id":"360f52ff0b0c9b1e","type":"inject","z":"0f3c78bd531f6d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["7569dc5426f93ca7"]]},{"id":"7569dc5426f93ca7","type":"function","z":"0f3c78bd531f6d78","name":"selected only","func":"msg.payload = {\n\n  \"selected\": [6,5]\n}\n\nmsg.ui_update  = {\n    \"openAll\" : true\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":120,"wires":[["58c7abbd239470ba"]]},{"id":"bf08771930e54162","type":"debug","z":"0f3c78bd531f6d78","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":180,"wires":[]},{"id":"379d503cfa35135d","type":"function","z":"0f3c78bd531f6d78","name":"indentLines simple","func":"\n\nmsg.ui_update  = {\n    \"indentLines\" : \"simple\"\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":240,"wires":[["58c7abbd239470ba"]]},{"id":"0db3b3b0c489b327","type":"inject","z":"0f3c78bd531f6d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["379d503cfa35135d"]]},{"id":"803361aff35fed37","type":"function","z":"0f3c78bd531f6d78","name":"indentLines default","func":"\n\nmsg.ui_update  = {\n    \"indentLines\" : \"default\"\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":300,"wires":[["58c7abbd239470ba"]]},{"id":"d954233a4901f2e0","type":"inject","z":"0f3c78bd531f6d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":300,"wires":[["803361aff35fed37"]]},{"id":"14f0f70f71de11a0","type":"function","z":"0f3c78bd531f6d78","name":"simple list","func":"msg.payload = {\n    items: [\n\n        {\n            \"id\": 1,\n            \"title\": \"item 1\"\n        },\n        {\n            \"id\": 2,\n            \"title\": \"item 2\"\n        },\n        {\n            \"id\": 3,\n            \"title\": \"item 3\"\n        },\n        {\n            \"id\": 4,\n            \"title\": \"item 4\"\n        },\n        {\n            \"id\": 5,\n            \"title\": \"item 5\"\n        },\n\n    ],\n    selected : []\n\n}\n\n\n\nmsg.ui_update = {\n    \"openAll\": true,\n    \"selectable\" : false,\n    \"strategy\" : \"single-independent\"\n}\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":360,"wires":[["58c7abbd239470ba"]]},{"id":"b16db4902b8e1bc3","type":"inject","z":"0f3c78bd531f6d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["14f0f70f71de11a0"]]},{"id":"02a5d72f84de6283","type":"global-config","env":[],"modules":{"@vitormnm/node-red-dashboard-2-ui-treeview":"1.0.6"}}]